{% extends 'authority/base.html' %}
{% block mainblock %}
{% load staticfiles %}
<style>
table.hometbl{
    border-collapse:separate;
    border-spacing: 1px;
}
table.hometbl tr th{
background:black;
padding:10px;
}
table.hometbl tr td{
background:white;
padding:10px;
color:black;
}
</style>
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<div class="maincontent">
<table class="hometbl">
<tr>
<th>Resource Type</th>
<th>Resource Title</th>
<th>Author</th>
<th>Algorithm Used</th>
<th>Technique Used</th>
<th>User Name</th>
<th>Ratings</th>
<th>Reviews</th>
</tr>
{% for r in ratings %}
<tr>
<td>{{r.algs.resourceType}}</td>
<td>{{r.algs.resourceTitle}}</td>
<td>{{r.algs.author}}</td>
<td>{{r.algs.algorithmUsed}}</td>
<td>{{r.algs.techniqueUsed}}</td>
<td>{{r.user.username}}</td>
<td style="background:rgb(0,0,0);color:white;">{{r.ratings}}</td>
<td>{{r.review}}</td>
{% endfor %}
</tr>
</table>
</div>

{% endblock %}