{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple PureCss dropdown menu with following subnav</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="{% static 'nav/css/style.css' %}">
      <style>
      body{
      background:rgb(94,156,156);
      }
      </style>
</head>

<body>
<img src="{% static 'images/algorithm2.png' %}" style="width:15%;float:left;">
  <!-- not responsive yet -->
<nav>
  <ul id="main">
    <li>
        <a href="{% url 'developer:home' %}">Home</a>
    </li>
    <li>
        <a href="{% url 'developer:uploads' %}">Upload</a>
        <ul class="drop">
            <div>
                <li><a href="{% url 'developer:uploads' %}">Upload New File</a></li>
                <li><a href="{% url 'developer:myuploads' %}">My Uploads</a></li>
                <li><a href="{% url 'developer:uploadstatus' %}">Upload Request Status</a></li>
            </div>
        </ul>
      </li>
    <li>
        <a href="{% url 'developer:ratingdetails' %}">Rating Details</a>
        <ul class="drop">
            <div>
                <li><a href="{% url 'developer:ratingdetails' %}">Ratings</a></li>
                <li><a href="{% url 'developer:yourratings' %}">Your Ratings</a></li>
            </div>
        </ul>
    </li>
    <li>
        <a href="{% url 'developer:graphs' 'bar' %}">Graphs</a>
        <!--<ul class="drop">
            <div>
                <li><a href="{% url 'developer:graphs' 'bar' %}">Bar Chart</a></li>
                <li><a href="{% url 'developer:graphs' 'pie' %}">Pie Chart</a></li>
                <li><a href="{% url 'developer:graphs' 'spline' %}">Spline Chart</a></li>
                <li><a href="{% url 'developer:graphs' 'line' %}">Line Chart</a></li>
                <li><a href="{% url 'developer:graphs' 'column' %}">Column Chart</a></li>
            </div>
        </ul>-->
    </li>
    <li>
        <a href="{% url 'developer:logout' %}">Logout</a>
    </li>
    <div id="marker">
    </div>
  </ul>
</nav>
{% block mainblock %}  
{% endblock %}
  
</body>
</html>
